.admin-sign-in {
  display: grid;

  justify-items: center;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 30px;
  margin-top: 10px;

  &__wrapper {
    padding: 10px;
    width: 95%;
    box-shadow: 0px 1px 5px 1px rgba(104, 104, 104, 0.5);
  }
}

@media (min-width: 700px) {
  .admin-sign-in {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
