$theme-font: Comfortaa;
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  grid-template-rows: 100px 1fr 80px;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
}

body {
  margin: 0;
  font-family: $theme-font;
  background: #fff;
  color: #4b0082;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

.main {
  grid-area: main;
}

h1,
h2,
h3,
h4 {
  font: Sans-serif;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.5rem;
}

h3 {
  font-size: 2em;
  padding-bottom: 0.4em;
}

img {
  display: block;
}

p {
  margin: 0;
  padding: 1em 0;
}

.button {
  font-family: $theme-font;
  background-color: #dda0dd;
  color: white;
  height: auto;
  text-decoration: none;
  padding: 1em 2em;
  margin: 0.5em 0;
  border: 1px solid #4b0082;
  border-radius: 2px;

  &:hover {
    background: #eaeaea;
    color: #dda0dd;
  }

  &:disabled {
    background: #eaeaea;
    color: #dda0dd;
  }
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
}

@media (min-width: 700px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    padding-bottom: 0.4rem;
  }
}
