.bath-bombs {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  grid-row-gap: 10px;
}

@media (min-width: 700px) {
  .bath-bombs {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }
}
