$shadow: 0px 5px 15px 10px rgba(104, 104, 104, 0.5);
$b-radius: 3em 3em;

.carousel {
  grid-column: span 12;

  &____carousel-wrapper {
    width: 100%;
  }

  &__card {
    width: 100%;
    position: relative;
  }

  &__carousel-image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // removed trhe chevrons for now... may not ventuer into carousel
  // 1st slice could be banner
  &__left-chevron {
    display: none;
    z-index: 5;
    position: absolute;
    top: 40%;
    left: 10%;

    i {
      border-radius: $b-radius;
    }
  }

  &__right-chevron {
    display: none;
    z-index: 5;
    position: absolute;
    top: 40%;
    right: 10%;

    i {
      border-radius: $b-radius;
    }
  }
}
