.cart-item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid #dda0dd;
  background-color: #e8e1ef;
  box-shadow: 1px 1px 1px rgba(104, 104, 104, 0.25);

  img {
    width: 115px;
    height: 75px;
  }

  &__name,
  &__price {
    padding-left: 5px;
    font-size: 16px;
  }
}

@media (min-width: 500px) {
  .cart-item {
    height: 150px;

    img {
      width: 150px;
      height: 110px;
    }
  }
}

@media (min-width: 900px) {
  .cart-item {
    height: 200px;

    img {
      width: 210px;
      height: 160px;
    }
  }
}
