$shadow: 5px 5px 15px rgba(104, 104, 104, 0.5);
$b-radius: 3em 3em;

.categories {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;

  div {
    height: 180px;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: $shadow;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media (min-width: 500px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    &__imgbg1 {
      background: linear-gradient(
          90deg,
          rgba(221, 160, 221, 0.2) 40%,
          rgba(232, 225, 239, 0.2) 100%
        ),
        url("../img/bath-bomb-2.jpg");
      background-size: cover;
      background-position: bottom;
    }
  }

  // #bath-bombs {
  //   grid-column: 1 / span 2;
  // }
}

@media (min-width: 780px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;

    div {
      height: 200px;
    }

    &__imgbg1 {
      background: linear-gradient(
          90deg,
          rgba(221, 160, 221, 0.2) 40%,
          rgba(232, 225, 239, 0.2) 100%
        ),
        url("../img/bath-bomb-2.jpg");
      background-size: contain;
      background-position: top;
    }
  }
  .spinner-wrapper {
    grid-column: 2 / span 1;
  }
}
