.category-item {
  &--imgbg1 {
    background: linear-gradient(
        90deg,
        rgba(221, 160, 221, 0.2) 40%,
        rgba(232, 225, 239, 0.2) 100%
      ),
      url("../img/bath-bomb-2.jpg");
    background-size: cover;
    background-position: top;
  }

  &--imgbg2 {
    background: linear-gradient(
        90deg,
        rgba(221, 160, 221, 0.5) 41%,
        rgba(53, 20, 49, 0.5) 100%
      ),
      url("../img/bath-bomb-feature-3.jpg");
    background-size: cover;
    background-position: right;
  }

  &__content {
    height: 139px !important;
    width: 50% !important;

    background-color: white;
    opacity: 0.7;
    position: absolute;

    h1 {
      padding: 0;
    }
  }
}

@media (min-width: 500px) {
  .category-item {
    &__content {
      width: 30% !important;
    }
  }
  // #bath-bombs {
  //   grid-column: 1 / span 2;
  // }
}

@media (min-width: 780px) {
  .category-item {
    &__content {
      width: 26% !important;
    }
  }
  // #bath-bombs {
  //   grid-column: 1 / span 1;
  // }
}
