.checkout-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  font-size: 0.875em;
  height: 130px;
  border-bottom: 1px solid #dda0dd;

  &__name {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
  }

  &__product {
    img {
      width: 100%;
      height: 100px;
      object-fit: cover;
    }
  }

  &__quantity {
    &--text {
      display: block;
    }
  }

  &__chevrons {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 700px) {
  .checkout-items {
    display: grid;

    &__product {
      img {
        width: 100%;
        height: 100px;
        object-fit: cover;
      }
    }
  }
}
