.checkout-summary-dropdown {
  position: absolute;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid #e8e1ef;
  background-color: white;
  top: 105px;
  right: 20px;
  z-index: 5;
  font-size: 0.5rem;
  box-shadow: 0px 1px 1px 0px rgba(104, 104, 104, 0.5);
  justify-items: center;

  &__items {
    overflow: scroll;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: auto;
    font-size: 2em;
  }

  &__empty-message {
    text-align: center;
    margin: 0.5rem;
  }

  button {
    margin-top: auto;
    margin-bottom: 0;
  }
}

@media (min-width: 500px) {
  .checkout-summary-dropdown {
    top: 147px;
    width: 400px;
  }
}
@media (min-width: 900px) {
  .checkout-summary-dropdown {
    width: 600px;
  }
}
