.checkout-page {
  &__header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    font-size: 0.875em;
    height: 50px;
    border-bottom: 1px solid #dda0dd;
  }

  &__item-wrapper {
    margin: 10px 10px;
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
  }

  &__total {
    font-size: 1.5em;
    grid-row: 4 / span 1;
    grid-column: 2 / span 2;
  }

  &__paypal-button {
    &--wrapper {
      display: flex;
      justify-content: center;
      cursor: pointer;
      img {
        width: 175px;
      }
    }
  }

  &__stripe-pay-button {
    button {
      color: white !important;
      padding: 1em 2em;
      margin: 1rem 0;
      border: 1px solid #4b0082 !important;

      span {
        background-color: #dda0dd !important;
        background-image: none !important;

        &:hover {
          background: #eaeaea !important;
          color: #4b0082 !important;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .checkout-page {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    &__header {
      grid-column: 2 / span 4;
    }

    &__item-wrapper {
      grid-column: 2 / span 4;
      grid-row: 2 / span 1;
    }

    &__total {
      grid-column: 3 / span 2;
      grid-row: 4 / span 1;
    }

    &__test-warning {
      grid-column: 3 / span 2;
      grid-row: 3 / span 1;
    }

    &__stripe-pay-button {
      grid-column: 3 / span 2;
      grid-row: 5 / span 1;
    }

    &__paypal-button {
      grid-column: 3 / span 2;
      grid-row: 6 / span 1;
      &--wrapper {
        display: flex;
        justify-content: center;
        img {
          margin-left: 7px;
          width: 200px;
        }
      }
    }
  }
}
