$shadow: 5px 5px 15px rgba(104, 104, 104, 0.5);

.checkout-complete {
  display: flex;
  margin-top: 50px;
  background: #dda0dd;
  height: 70vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: $shadow;

  &__inner-card {
    background-color: #f6efee;
    height: 90%;
    width: 90%;
    box-shadow: $shadow;
    overflow-y: scroll;
  }

  &__title {
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__payee {
    font-size: 0.75rem;
    margin-bottom: 10px;
  }

  &__order-info {
    font-size: 0.75rem;
    margin-bottom: 10px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    font-size: 0.875em;
    height: 30px;
    border-bottom: 1px solid #dda0dd;
    border-top: 1px solid #dda0dd;
    margin-bottom: 20px;
  }

  &__item-name {
    margin-left: 5px;
    grid-column: 1 / span 1;
  }
  &__item-price {
    grid-column: 2 / span 1;
  }
}
