.group {
  grid-column: 1 / span 4;
  width: 100%;

  &__form-input {
    background: none;
    background-color: white;
    color: grey;
    font-size: 1em;
    padding-left: 5px;
    display: block;
    width: 100%;
    border: none;
    border: 1px solid #e8e1ef;
    border-radius: 0;
    height: 50px;
  }
}
