.home-page {
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  margin-top: 10px;

  // &__categories {
  //   grid-row: 2 / span 1;
  //   padding: 20px 0px 20px 0px;
  // }

  // &__carousel {
  //   grid-row: 2 / span 1;
  //   background-color: lightgrey;
  // }
  &__featured {
    grid-row: 1 / span 1;
  }
}
