$shadow: 5px 5px 15px rgba(104, 104, 104, 0.5);

.additional-information {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-bottom: 2em;

  h3 {
    width: 100%;

    border-bottom: 0.1em solid #4b0082;
  }

  &__info-wrapper {
    display: grid;
    column-gap: 5em;
    justify-items: center;
    width: 100%;
  }

  &__info-row {
    cursor: pointer;

    border-bottom: 0.1em solid #4b0082;
    width: 98%;

    button {
      margin: 0;
      font-size: 1.8em;
      border: none;
      background-color: #fff;
      color: #4b0082;
      border: none;
      margin-bottom: 0.5em;
    }
  }
}
