.logo {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  width: 100%;

  &__image {
    object-fit: cover;
    object-position: center;
    max-height: 80px;
  }
}

@media (min-width: 700px) {
  .logo {
    grid-column: 4 / span 1;
  }
}
