.manage {
  display: grid;

  &__add-button {
    margin-bottom: 10px;
    button {
      width: 322px;
    }
  }

  &__heading {
    padding: 20px 16px;
  }

  &__wrapper {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;

    justify-content: center;
    align-items: center;
  }

  &__product {
    border: 1px solid #dda0dd;
    border-radius: 4px;
    background-color: #e8e1ef;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    box-shadow: 0px 1px 10px 1px rgba(104, 104, 104, 0.5);
    padding: 10px;
  }

  &__transaction {
    border: 1px solid #dda0dd;
    border-radius: 4px;
    background-color: #e8e1ef;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0px 1px 10px 1px rgba(104, 104, 104, 0.5);

    .button {
      height: 100%;
      font-size: 0.875rem;
      margin: 0px;
    }
  }

  &__transaction-cell {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__transaction-inner-cell-name {
    color: white;
    height: 100%;
    background-color: #4b0082;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  &__transaction-inner-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 0.85rem;
  }

  &__items-wrapper {
    display: flex;
    height: 80px;
    align-items: center;
    overflow: scroll;
  }

  &__transaction-items {
    border: 1px solid #351431;
    font-size: 0.75rem;
    padding: 10px;
    margin: 10px;
    width: 100%;
    max-height: 58px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__category {
    border: 1px solid #dda0dd;
    border-radius: 4px;
    background-color: #e8e1ef;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    box-shadow: 0px 1px 10px 1px rgba(104, 104, 104, 0.5);
    padding: 10px;
  }

  &__cell {
    font-size: 0.75rem;
    overflow: hidden;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img {
      height: 50px;
      width: 50px;
    }
  }

  &__inner-cell {
    display: flex;
    justify-content: center;
  }

  &__inner-cell-name {
    color: white;
    height: 100%;
    background-color: #4b0082;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__button-wrapper {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;

    .button {
      width: 100%;
    }
  }
}

@media (min-width: 700px) {
  .manage {
    &__wrapper {
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 768px) {
  // .manage {
  //   &__wrapper {
  //     grid-template-rows: repeat(1, 1fr);
  //     grid-template-columns: repeat(3, 1fr);
  //   }
  // }
}

@media (min-width: 1200px) {
  .manage {
    &__wrapper {
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
