.modal {
  position: fixed;
  display: grid;
  z-index: 500;
  background-color: white;
  width: 90%;
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid #ccc;
  box-shadow: 0px 1px 10px 1px rgba(104, 104, 104, 0.5);
  padding: 16px;
  left: 5%;
  top: 10%;
  height: 400px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  overflow: scroll;
  border-radius: 4px;

  &--category {
    position: fixed;
    display: grid;
    z-index: 500;
    background-color: white;
    width: 90%;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid #ccc;
    box-shadow: 0px 1px 10px 1px rgba(104, 104, 104, 0.5);
    padding: 16px;
    left: 5%;
    top: 10%;
    height: 400px !important;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 4px;
    height: 500px;
  }

  &__cell {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 5px;

    .group {
      height: 65px;
    }

    &--image-wrapper {
      .group {
        grid-column: 1 / span 1;

        &__form-input {
          width: 95%;
        }
      }
      .button {
        height: 45px;
      }
    }

    button {
      width: 100%;
      height: auto;
      padding: 0.75em 2em;
    }
  }

  &__button-wrapper {
    display: grid;
    align-items: center;
    margin: 5px;
  }
}

@media (min-width: 600px) {
  .modal {
    height: 800px;
    width: 500px;
    left: calc(50% - 250px);
    overflow: hidden;
  }
}
