.navbar {
  grid-area: navbar;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  // justify-items: left;
  background-color: #fff;
  color: #dda0dd;
  border: 2px solid #e8e1ef;

  &__nav-items {
    display: grid;
    justify-items: right;
    padding-right: 20px;
  }

  &__cart-number {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 5;
    font-size: 0.85em;
  }
}

@media (min-width: 500px) {
  .navbar {
    &__nav-items-left {
      grid-column: 1 / span 1;
      // height: 100%;
    }
    &__cart-number {
      position: absolute;
      top: 40px;
      right: 40px;
      z-index: 5;
      font-size: 0.85em;
    }
  }
}

@media (min-width: 700px) {
  .navbar {
    grid-template-columns: repeat(7, 1fr);

    &__nav-items-left {
      grid-column: 1 / span 1;
    }
    &__nav-items-right {
      grid-column: 7 / span 1;
    }
  }

  &__cart-number {
    font-size: 1em;
  }
}
