.navigation-heading {
  color: #dda0dd;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 124px;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 5px;
  border-bottom: 4px solid transparent; // invisible but will be used when hightlight link

  &:hover {
    background: #eaeaea;
    color: #dda0dd;
  }

  &:focus {
    background: #eaeaea;
    color: #dda0dd;
  }
}

.navigation-heading__side-drawer {
  color: #dda0dd;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 60px;
  box-sizing: border-box;
  padding: 16px 5px;

  border-bottom: 4px solid transparent; // invisible but will be used when hightlight link
  cursor: pointer;

  &:hover {
    background: #eaeaea;
    color: #dda0dd;
  }

  &:focus {
    background: #eaeaea;
    color: #dda0dd;
  }
}
