.navigation-item {
  margin: 0;
  box-sizing: border-box;
  display: grid;
  height: 100%;
  align-items: center;

  &__component {
    color: #dda0dd;
    text-decoration: none;
    height: 100%;
    padding: 16px 5px;
    border-bottom: 4px solid transparent; // invisible but will be used when hightlight link
    box-sizing: border-box;
    display: block;

    &:hover {
      background: #eaeaea;
      color: #dda0dd;
    }

    &:focus {
      background: #eaeaea;
      color: #dda0dd;
    }
  }
}

@media (min-width: 500px) {
  .navigation-item {
    color: #dda0dd;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent; // invisible but will be used when hightlight link
    box-sizing: border-box;
    display: block;

    &:hover {
      background: #eaeaea;
      color: #dda0dd;
    }

    &:focus {
      background: #eaeaea;
      color: #dda0dd;
    }
  }
}
