.navigation-items {
  &__navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }

  &__side-bar {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
  }
}

@media (min-width: 500px) {
  .navigation-items {
    grid-template-columns: repeat(2 1fr);
  }
}
