.product-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
  box-shadow: 0px 1px 10px 1px rgba(104, 104, 104, 0.5);
  height: 300px;
  background-color: #e8e1ef;
  border: 1px solid #dda0dd;
  border-radius: 4px;

  &__img-container {
    grid-row: 1 / span 2;
    overflow: hidden;
    position: relative;
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #351431;
    margin-bottom: 10px;

    button {
      width: 80%;
      padding: 1rem 0.75rem;
    }
  }

  &__content {
    grid-row: 3 / span 1;
    align-self: center;
  }

  &__price {
    display: flex;
    justify-content: space-evenly;
    &--bath-bomb {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1px;
      align-items: center;
      margin-bottom: 10px;
    }

    &--text {
      grid-column: 2 / span 1;
      margin-bottom: 0.5rem;
    }

    &--dot-selector-wrapper {
      display: flex;
      justify-content: center;
      grid-column: 1 / span 1;
    }

    &--dot-medium {
      width: 30px;
      height: 30px;
      box-shadow: 1px 1px 2px 1px rgba(104, 104, 104, 0.5);
      border-radius: 50%;
      margin: 2px;
      padding: 2px;

      &.is-active {
        border: 1px solid #351431;
      }
    }

    &--dot-large {
      width: 30px;
      height: 30px;
      box-shadow: 1px 1px 2px 1px rgba(104, 104, 104, 0.5);
      border-radius: 50%;
      margin: 2px;
      padding: 2px;

      &.is-active {
        border: 1px solid #351431;
      }
    }
  }
}

@media (min-width: 700px) {
  .product-item {
    &__price {
      margin-bottom: 7px;
    }
  }
}
