$shadow: 0px 5px 10px rgba(104, 104, 104, 0.5);

.searchbox {
  display: grid;
  justify-content: center;
  min-height: 50px;
  margin-bottom: 2em;
  // box-shadow: $shadow;
  // border-radius: 1em 1em;
  padding: 10px 10px;
  background-color: #fff;
  width: 100%;
  height: 75px;
  border: 2px solid #e8e1ef;
  box-sizing: border-box;
  overflow: hidden;

  &__form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;

    button {
      grid-column: 5 / span 1;
      padding: 0;
      margin: 0;
      padding-left: 1rem;
      padding-right: 1rem;
      height: 50px;
      width: 100%;

      border: none;
      font-size: 1em;
    }

    &--navbar {
      display: none;
    }
  }
}

// @media (min-width: 990px) {
//   .searchbox {
//     display: none;

//     &--navbar {
//       display: grid;
//     }
//   }
// }
