.side-drawer {
  position: fixed;
  width: 80%;
  max-width: 80%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #fff;
  padding: 20px 16px;
  box-sizing: border-box;
  overflow: scroll;

  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
  // box-shadow: 0px 5px 10px 10px rgba(104, 104, 104, 0.5);
  transition: transform 0.3s ease-out;

  &__open {
    transform: translateX(0);
  }

  &__close {
    transform: translateX(-100%);
  }

  &__crud-admin {
    padding: 20px 16px;
    color: #dda0dd;
    border-bottom: 1px solid #dda0dd;
  }

  &__categories-heading,
  &__admin-header {
    padding: 20px 16px;
    border-bottom: 1px solid #dda0dd;
  }

  &__footer-menus {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

@media (min-width: 500px) {
  .side-drawer {
    max-width: 80%;

    &__logo-container {
      display: flex;
      margin-top: 20px;
      margin-left: 20px;
    }
  }
}

@media (min-width: 900px) {
  .side-drawer {
    max-width: 30%;
  }
}
