.signin-signup {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 30px;
  margin-top: 10px;

  &__signin-wrapper {
    padding: 10px;
    box-shadow: 0px 1px 5px 1px rgba(104, 104, 104, 0.5);
  }

  &__signup-wrapper {
    padding: 10px;
    box-shadow: 0px 1px 5px 1px rgba(104, 104, 104, 0.5);
  }
}

@media (min-width: 700px) {
  .signin-signup {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
